	$susy: (
		columns: 4,
		container: 1300px,
		gutters: 1/4,
		gutter-position: split,
		global-box-sizing: border-box,
		debug: (
			// image: show,
			// color: blue,
			// output: overlay,
			// toggle: top right,
		),
	);

	@include border-box-sizing;

	.container {
		@include container;	
	} 

	.show-mobile {
		@include breakpoint($mobile) {
			display: block;	
		}
		@include breakpoint($tablet) {
			display: none;
		}
	}
	.hide-mobile {
		@include breakpoint($mobile) {
			display: none;	
		}
		@include breakpoint($tablet) {
			display: block;
		}
	}