@import "../breakpoint-sass/stylesheets/breakpoint";
@import "../susy/sass/susy";
@import "../typi/scss/typi";

// responsive ranges
$mobile: 0px;
$mobile-tablet: 0px 767px;
$mobile-desktop: 0px 1023px;
$tablet: 768px;
$tablet-desktop: 750px 1023px;
$desktop: 1024px;
$medium-desktop: 1280px;
$large-desktop: 1400px;


@import "layout";
@import "type";
@import "global";
@import "mixins/all"; 